<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review.dao.ReviewMapper">

	<select id="getAll" resultType="review.domain.Review">
	select * from (select SNO from TBL_STORE where SNO = #{sno})store, (select * from TBL_REVIEW where SNO = #{sno})review
	</select>
	
	<delete id="deleteAllReview" parameterType="review.domain.Review">
		delete from TBL_REVIEW where SNO =#{sno}
	</delete>

</mapper>